* {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  margin: 0;
  background: #6a1b9a;
  color: #fff;
}

.page {
  max-width: 420px;
  margin: auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.header h1 {
  font-size: 22px;
  margin: 5px 0;
}

.header p {
  color: #e1bee7;
  font-size: 14px;
}

.social {
  margin-top: 10px;
}

.social i {
  font-size: 22px;
  margin: 0 8px;
  cursor: pointer;
}

.links {
  margin-top: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #8e24aa;
  color: #fff;
  text-decoration: none;
  padding: 15px;
  border-radius: 30px;
  margin-bottom: 14px;
  font-size: 15px;
  transition: 0.3s;
}

.btn i {
  font-size: 22px;
  margin-left: 12px;
}

.btn:hover {
  background: #ab47bc;
}





.visits {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #e1bee7;
}
